html
	head
		body
			img(src="https://68.media.tumblr.com/b5558c0e0bab450a78ba134506211521/tumblr_nlgy8dpryv1r3i2kko3_500.gif")
		p Want to be a Sith Lord in under 10 weeks?
			a(href='/addUser') Join now!