html
	head
	body
		form
			input(name='search', type='text', placehorlder='Search first name')
			input(name='search', type='text', placehorlder='Search last name')
			button(type='submit', formmethod='post') Search